[submodule "submodules/python-boilerpipe"]
	path = submodules/python-boilerpipe
	url = https://github.com/misja/python-boilerpipe.git
[submodule "submodules/lisp-dev"]
	path = submodules/lisp-dev
	url = ssh://raid@cstanley.no-ip.biz/~/F/root/clayton.stanley/srv/git/lisp-dev
[submodule "submodules/actr6"]
	path = submodules/actr6
	url = ssh://raid@raid/~/F/root/clayton.stanley/srv/git/actr6-svn
